@charset "UTF-8";
header {
  background-color: #823900;
  padding: 16px 128px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 20px;
    padding-right: 25px;
  }
}

.header-logo {
  width: 138px;
  height: 39px;
}
@media screen and (max-width: 768px) {
  .header-logo {
    width: 103px;
    height: auto;
  }
}

.header-nav {
  text-align: right;
  width: 365px;
  height: 24px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-nav > a {
  text-decoration: none;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    position: relative;
    background-color: #823900;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /*ボタン内側*/
  }
  .hamburger > span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #FFFFFF;
    width: 45%;
  }
  .hamburger > span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger > span:nth-of-type(2) {
    top: 23px;
  }
  .hamburger > span:nth-of-type(3) {
    top: 31px;
  }
}

.main-visual {
  height: 725px;
  width: 100%;
  background-image: url(../../img/main-visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-visual {
    height: 261px;
  }
}
.main-visual > h1 {
  color: #FFFFFF;
  font-family: "游明朝", "YuMincho", serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  text-shadow: 0px 3px 6px #7E4F00;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .main-visual > h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

.container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 335px;
    width: 100%;
  }
}

#menu {
  margin-top: 60px;
}

.section-title {
  font-family: "游明朝", "YuMincho", serif;
  font-size: 40px;
  color: #823900;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.menu-content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0 auto 60px;
}
@media screen and (max-width: 768px) {
  .menu-content {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 46px;
    padding-top: 40px;
  }
}

.menu-item h2 {
  font-family: "游明朝", "YuMincho", serif;
  font-size: 18px;
  text-align: left;
  color: #823900;
  border-bottom: 2px solid #823900;
  padding: 4px 0;
}
.menu-item p {
  font-size: 15px;
  color: #0C0C0C;
  margin-top: 13.5px;
  line-height: 1.8;
}
.menu-item a {
  display: block;
  line-height: 50px;
  background-color: #823900;
  color: #FFFFFF;
  text-align: center;
  margin: 21px auto 0;
  text-decoration: none;
  border-radius: 8px;
  font-family: "游明朝", "YuMincho", serif;
  font-size: 13px;
  letter-spacing: 0.78px;
  width: 220px;
  height: 50px;
}

address {
  background-color: #F6F6F6;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  address {
    padding: 60px 0 71px;
  }
}

.access-content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .access-content {
    flex-direction: column;
    padding-top: 37px;
  }
}
.access-content > div {
  width: 472px;
  height: 345px;
}
@media screen and (max-width: 768px) {
  .access-content > div {
    width: 100%;
    height: auto;
  }
}

.access-img {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
}

.access-item {
  padding: 35px 0;
}
@media screen and (max-width: 768px) {
  .access-item {
    padding: 21.8px 0 0 0;
  }
}
.access-item > div {
  width: 222px;
  height: 55px;
  margin-bottom: 31px;
}
@media screen and (max-width: 768px) {
  .access-item > div {
    width: 144px;
    height: 38px;
    margin-bottom: 17px;
  }
}
.access-item > p {
  font-size: 16px;
  text-align: left;
  padding: 0 4px 12px;
}
@media screen and (max-width: 768px) {
  .access-item > p {
    font-size: 15px;
    margin: 0;
    padding: 0 0 5px;
  }
}
.access-item > p:nth-of-type(3) {
  padding-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .access-item > p:nth-of-type(3) {
    padding-bottom: 22px;
  }
}
.access-item > a {
  display: block;
  line-height: 60px;
  width: 420px;
  height: 60px;
  background-color: #823900;
  color: #FFFFFF;
  font-family: "游明朝", "YuMincho", serif;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .access-item > a {
    width: 320px;
    font-size: 16px;
    font-family: body;
    letter-spacing: 1.6px;
    margin: 0 auto;
    border: 1px solid #707070;
  }
}
.access-item > a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../img/mail-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  height: 56px;
  text-align: center;
  background-color: #C8AD94;
  color: #823900;
  font-size: 16px;
  line-height: 56px;
}
@media screen and (max-width: 768px) {
  footer {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
  }
}